body{
  margin: 0;
  min-width: 550px;      /* 2x LC width + RC width */
  font-family: 'Open Sans', Helvetica,serif;
}

p {
  color: #333E81;

	width: 425px;
}
h2 {
  z-index: 2;
  font-size: 64px;
  color: #333E81;
  padding-top: 100px;
  text-align: center;
}
