body{
  margin: 0;
  min-width: 550px;      /* 2x LC width + RC width */
  font-family: 'Open Sans', Helvetica,serif;
  background-color: #5BC3EB;
}
/*********** HEADER ***********/
header {
  width: 100%;
  height:65px ;
  background-color: #fff;
  position: fixed;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }


nav {
  max-width: 50rem;
  /*padding-top: 16px;*/
  height: 65px;
  margin: auto;
  display: flex;
  align-items: center;
}

nav ul {
  flex: 4.3;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav ul li {

}

nav ul li a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1D1E3E;
}

.cool-link {
    display: inline-block;
    color: #50ADAD;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #1D1E3E;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    background: #1D1E3E;
}

.cool-link.active:after {
    width: 100%;
    background: #1D1E3E;
}

/*********** BG-IMG HOME ***********/

.bg-img {
  width: 100%;
  height: 100vh;
  background: url(../img/tibo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #5BC3EB, #fff);
  opacity: .8;
}

.bg-img img,
.bg-img h1,
.bg-img p {
  z-index: 2;
}

.bg-img img {
  margin-top: 100px;
  height: 450px;
}

.bg-img h1,
.bg-img p {
  color: #1D1E3E;
}

.bg-img h1 {
  font-size: 34px;
  margin: 10px 0 0 0;
}

.bg-img p {
  font-size: 18px;
  font-weight: 500;
  color: #1D1E3E;
  margin: 0;
  opacity: 0.5;
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
.scroll-btn {
  z-index: 2;
  margin-top: 25px;
  opacity: .5;
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #1D1E3E;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #1D1E3E;
	border-radius: 50%;
	-webkit-animation: ani-mouse 3.5s linear infinite;
	-moz-animation: ani-mouse 3.5s linear infinite;
	animation: ani-mouse 3.5s linear infinite;
}

/*********** PREZ ***********/

.text-presentation {
  height: 100vh;
  width: 100%;
  background-color: #5BC3EB;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.text-presentation-bg {
    z-index: 2;
    border-radius: 10px;
    max-width: 900px;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.text-presentation-bg img {
  z-index: 2;
  width: 250px;
  height: 250px;
  margin-top: 20px;
}
.text-presentation-bg h2 {
  z-index: 2;
  font-size: 64px;
  color: #1D1E3E;
  margin: 10px 0 0 0;
}
.text-presentation-bg h3 {
  z-index: 2;
  font-size: 18px;
  font-weight: 500;
  color: #1D1E3E;
  margin: 0;
  opacity: 0.5;
}
.text-presentation-bg p {
  z-index: 2;
  margin: 30px 50px 0px 50px;
  color: #1D1E3E;
  font-size: 21px;
  line-height: 1.58;
  max-width: 700px;
  opacity: 0.7;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 100px;
}

.icon-container img {
  width: 40px;
  height: 40px;
  margin: 0;
}

/*********** SKILLS ***********/
.skills-area h2,
.fields h2,
.contact h2 {
  z-index: 2;
  font-size: 64px;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}

.skills-area {
  height: 100vh;
}

.skills-area .skills-img {
  margin: auto;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  height: 50%;
}
.skills-img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.skills-img div h3 {
  font-size: 21px;
  font-weight: 300;
}
.skills-area img {
  width: 200px;
  height: 200px;
}

/*********** FIELDS ***********/


.fields {
  height: 100vh;
}

.fields .fields-img {
  margin: auto;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  height: 50%;
}
.fields-img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.fields-img div h3 {
  font-size: 21px;
  font-weight: 300;
  margin-top: 25px;
}
.fields h2 {
  margin-bottom: 0;
}
.fields h3 {
  text-align: center;
  color: white;
  font-weight: 100;
  opacity: .7;
  margin-top: 0;
}

.fields img {
  width: 200px;
  height: 200px;
}

/*********** CONTACT ***********/

.contact {
  height: 90vh;
}

.contact h2 {
  margin: 0;
}

.contact .form-section {
  margin: auto;
  display: flex;
  justify-content: space-around;;
  align-items: center;
}

.form-section{
  width: 860px;
  display: flex;
  flex-direction: column;
}
#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-area form div {
  display: flex;
  flex-direction: column;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #fff;
  background-color: #5BC3EB;
  color: #fff;
  transition: ease 0.5s;

}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #fff ;
  color: #5BC3EB;
  background-color: white;
  transition: ease 0.5s;

}

#contact-area input.submit-button {
  transition: ease 0.5s;
	width: 100px;
	float: right;
  color: #fff;
}

#contact-area input.submit-button:hover {
  transition: ease 0.5s;
  color: #5BC3EB;
  background-color: #fff;
}

label {
	text-align: left;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 16px;
  color: #fff;
  opacity: .7;
  letter-spacing: .5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/************ SOCIAL ICONS *************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-networks {
  margin: 50px 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #5BC3EB;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #3F8BA8;
  font-size: 26px;
  line-height: 50px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}


.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "\e902";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #fff;
}
.social-networks .icon-github:after {
  content: "\e901";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background: #fff;
}
.social-networks .icon-pinterest:after {
  content: "\e900";
}
.social-networks .icon-pinterest:hover:before, .social-networks .icon-pinterest:focus:before {
  background: #fff;
}



@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

/********** THANK YOU *************/
.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.thankyou img {
  width : 500px;
  height: auto;
  margin-top: -50px;
  margin-bottom: 50px;
}
.thankyou h1 {
  font-size: 18px;
  font-weight: 500;
  color: #1D1E3E;
  opacity: .5;
  margin: 0;
}

.thankyou a {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 25px;
  transition: ease .5s;

}

.thankyou a:hover {
  color: #5BC3EB;
  background-color: #fff;
  transition: ease .5s;
  border: 2px solid #fff;
}
